//
   Created by bitzo on 2017/7/5.

extends layout

block content
 div()
  div.modal.fade(id='personInfoEdit')
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type='button', data-dismiss='modal')
            span(aria-hidden='true') ×
            span.sr-only Close
          h4.modal-title 个人资料更改
        div.modal-body
          table.table.table-bordered.table-hover
            tr
              td(width="20%")
                p 头像
                i (建议上传正方形头像)
              td(width="50%")
                div.kv-avatar.text-center(style="width:200px")
                  input.file-loading(id="userAvatar" name="userAvatar" type="file" required)
                  div.help-block
                    small Select file < 1.5 MB
                div(id="kv-avatar-errors-1" class="center-block" style="width:90%;display:none")
            tr
              td(width="20%") 用户名
              td(width="50%")
                p bitzo
            tr
              td(width="20%") 密码
              td(width="50%")
                input.form-control(type='password' ng-model='personInfo.password' style='width:50%')
            tr
              td(width="20%") 确认密码
              td(width="50%")
                input.form-control(type='password' ng-model='personInfo.enPassword' style='width:50%')
            tr
              td(width="20%") 性别
              td(width="50%")
                select.form-control(style='width:30%')
                  option(value='1' ng-model='personInfo.gender') 男
                  option(value='0' ng-model='personInfo.gender') 女
            tr
              td(width="20%") 电话号码
              td(width="50%")
                input.form-control(type='text' ng-model='personInfo.phoneNumber' style='width:50%')
          p.error(style="color:red") error
        div.modal-footer
          button.btn.btn-info.pull-right(ng-click="updatePersonInfo(personInfo)") 提交更新
          button.btn.btn-default(type="button",data-dismiss="modal") Close
  div.modal.fade(id='myModal')
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type='button', data-dismiss='modal')
            span(aria-hidden='true') ×
            span.sr-only Close
          h4.modal-title 提示
        div.modal-body
          p msg
        div.modal-footer
          button.btn.btn-default(type="button",data-dismiss="modal") Close
  div.panel.panel-default
    div.panel-heading
      a(style="color: black" href="./home")
        h1.glyphicon.glyphicon-home &nbsp;
        h1(style="display:inline-block") Bitzo's Chat Room
      div.personInfo.pull-right
        a.userAvator(ng-click="showPersonInfo()" href="")
          img.img-circle(src="./images/avatar.jpg")

        h4 bitzo
        br
        br
        button.btn.btn-primary(ng-click="logout()") 退出&nbsp;
          i.glyphicon.glyphicon-off
    div.panel-body
      div.panel.panel-info(style="width:30%;float:left;height:560px")
        div.panel-heading
          h4 好友列表
        div.panel-body.pre-scrollable(style="min-height:500px")
          strong notice
          div.friends(ng-repeat="x in friendlist")
            img.img-circle(src="./images/avatar.jpg")
            div.info
              strong bitzo
              button.btn.btn-sm.btn-danger(ng-click="deleteFriend($index, x.friendID)") 删除好友&nbsp;
                i.glyphicon.glyphicon-remove
      div.panel.panel-success(style="width:68%;float:left;")
        div.panel-heading
          h4 chatStatus
        div.panel-body.chatArea(style="height:500px;padding: 5px;")
          div.chatlog.pre-scrollable(id="chatlog")
            div.log(ng-repeat="x in chatlogs track by $index")
              b(ng-style="{color: x.isPerson? '#E9533F' : '#2C2B92'}") bitzo 12月03日19:20:09
              p hhhh

          div.friendInfo
            img.img-rounded(src='./images/avatar.jpg')
            strong bitzo
            button.btn.btn-primary(ng-click="addFriend(chatInfo)" ng-disabled="chatInfo.isFriend") 添加好友&nbsp;
              i.glyphicon.glyphicon-user
            button.btn.btn-danger(id="matchSatus" ng-disabled="chatInfo.matchStatus" ng-click="startMatch()") matchMsg&nbsp;
              i.glyphicon.glyphicon-refresh
          div.charPerson
            img.img-rounded(src='./images/avatar.jpg')
            br
            strong bitzo
          div.chatMsg
            textarea.form-control(rows='5' style="resize:none" name='msg' ng-model="message")
            button.btn.btn-sm.btn-info.pull-right(ng-click="sendMessage(message)" ng-disabled="chatInfo.sendMsg") 发送&nbsp;
              i.glyphicon.glyphicon-send
