extends layout

block content

  div.jumbotron(style='width: 65%;margin: auto;')
    div.container
      h1 Bitzo's Chat Room
      p(style="display:inline-block") &nbsp;&nbsp;一款在线聊天工具，可随机配对聊天，亦可与好友聊天。
      i 仍在开发中... 
      p
        a.btn.btn-primary.btn-lg.pull-right(href="./login" style="margin-right: 100px") 开始聊天&nbsp;&nbsp;
          i.glyphicon.glyphicon-arrow-right
