doctype html
html
  head
    title="Bitzo‘s chat Room"
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    //link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='icon', href='/images/favicon.png')
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/angular/angular.min.js")
    script(src="/bower_components/angular-route/angular-route.min.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")

  body()
    block content

  div.footer
      div.copyright
        p Copyright &copy; 2017 Bitzo's ChatRoom&nbsp&nbsp
        a(href="/" style="display:inline") chat.bitzo.cn
        p &nbsp;&nbsp;All Rights Reserved &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
        a(href='http://www.miitbeian.gov.cn/' target="_blank") 苏 ICP 备 17000035 号 - 2
